<div class="container main-div">
   <mat-card-content>
      <form [formGroup]="formUsuario">
         <mat-form-field class="full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="nombre">
            <mat-error *ngIf="formUsuario.controls['nombre'].invalid">
               <span *ngIf="formUsuario.controls['nombre'].errors.required">El nombre es obligatorio</span>


            </mat-error>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Apellido" formControlName="apellido">
            <mat-error *ngIf="formUsuario.controls['apellido'].invalid">
               <span *ngIf="formUsuario.controls['apellido'].errors.required">El apellido es obligatorio</span>


            </mat-error>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Fecha de nacimiento</mat-label>
            <input type="date" matInput formControlName="fechaNacimiento">
            <mat-error *ngIf="formUsuario.controls['fechaNacimiento'].invalid">
               <span *ngIf="formUsuario.controls['fechaNacimiento'].errors.required">La fecha de nacimiento es
                  obligatoria</span>
            </mat-error>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Correo Electrónico</mat-label>
            <input type="email" matInput placeholder="Ingrese su correo electrónico" name="email"
               formControlName="correo">
            <mat-error *ngIf="formUsuario.controls['correo'].invalid">
               <span *ngIf="formUsuario.controls['correo'].errors.required">El correo es obligatorio</span>
               <span *ngIf="formUsuario.controls['correo'].errors.email">No es un correo válido</span>
            </mat-error>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="Ingrese su contraseña" name="password"
               formControlName="contraseña">
            <mat-error *ngIf="formUsuario.controls['contraseña'].invalid">
               <span *ngIf="formUsuario.controls['contraseña'].errors.required">La contraseña es obligatoria</span>
               <span *ngIf="formUsuario.controls['contraseña'].errors.minlength">La contraseña debe tener al menos 8
                  caracteres</span>

            </mat-error>
         </mat-form-field>
         <input formControlName="img" (change)="addImg($event)" type="file" class="form-control-file">
         <div class="container">
            <button mat-flat-button [disabled]="formUsuario.invalid" class="button" style="margin-right: 5px;"
               (click)="addUser()" color="warn" style="font-size: 17px;">Registrarse</button>
            <button mat-flat-button class="button" (click)="authService.GoogleRegister(this.tipoU)" color="white"
               style="font-size: 17px;"><img src="https://img.icons8.com/color/22/000000/google-logo.png" /> Registrarse
               con Google</button>
         </div>
         <br> <br> <br><br> <br> <br>

      </form>
   </mat-card-content>
</div>