.main-div{
    height: 100vh;
    display: flex;
    
 margin-top: 1px;
}
mat-form-field {
margin-top: 40px;
margin-left: 40px;
    width: 321px;
  }

mat-raised-button {
  width: 60px;
}

h2 {
  font-size: 30px;
  font-family: 'Reem Kufi', sans-serif;
  text-align: center;
  margin-top: 39px;
}

form{
  margin-left: 500px;
  margin-top: 50px;
}