.main-div{
    height: 100vh;
    display: flex;
    
 margin-top: 1px;
}
mat-form-field {
margin-top: 50px;
margin-left: 530px;
    width: 330px;
  }

mat-raised-button {
  width: 60px;
}

h1 {
  font-size: 30px;
  font-family: 'Reem Kufi', sans-serif;
  text-align: center;
  margin-top: 39px;
 
}