@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.main-div{
    height: 100vh;
    display: flex;
    
 margin-top: 1px;
}
mat-form-field {
margin-top: 40px;
margin-left: 40px;
    width: 321px;
  }

.mat-raised-button {
  width: 60px;
  margin-bottom: 30px !important;
}

h2 {
  font-size: 30px;
  font-family: 'Reem Kufi', sans-serif;
  text-align: center;
  margin-top: 39px;
}

form{
  margin-left: 500px;
  margin-top: 50px;
  height: auto !important;
  margin-bottom: 50px !important;
}

.validated {
  background-color: #17a2b8; 
  color: white;
}

