<!-- <div class="container" class="main-div">

    <div class="text-center">
        <img  src="assets/logo.png" alt="">
        <h3>Bienvenido, por favor ingrese sus datos</h3>
    </div>
  
    <form [formGroup]="formularioLogin">
        <mat-form-field  class="full-width-input" style="margin-right:5px">
            <mat-label>Correo Electronico</mat-label>
            <input   type="email" matInput id="email" formControlName="email" aria-describedby="emailHelp" placeholder="Ingrese su correo electronico">
            <mat-error *ngIf="formularioLogin.controls['email'].invalid " >
              <span *ngIf="formularioLogin.controls['email'].errors.required">  Correo es requerido</span>
                <span *ngIf="formularioLogin.controls['email'].errors.email">Correo no es Valido</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <mat-label for="password">Contraseña</mat-label>
            <input matInput type="password" (keyUp.enter)="ingresar()"  id="password" formControlName="password" placeholder="Ingrese su contraseña">
            <mat-error *ngIf="formularioLogin.controls['password'].invalid " >
                <span *ngIf="formularioLogin.controls['password'].errors.required">La contraseña es requerida</span> 
            </mat-error>
        </mat-form-field>

        <button type="submit" mat-flat-button color="accent" (click)="ingresar()" [disabled]="!formularioLogin.valid"  class="btn btn-primary">Ingresar</button>
    </form>
<button mat-flat-button color="accent" (click)="openDialog()">Registrarse</button>
    <div *ngIf="!datosCorrectos" class="alert alert-warning mt-2" role="alert">
        {{textoError}}
      </div>

 
      <ngx-spinner bdOpacity = 0.9  bdColor = "#333"   size = "medium"
            color = "#fff"
            type = "square-spin"
            [fullScreen] = "true"  >
            <p style="color: white" > Ingresando al sistema... </p>
        </ngx-spinner>
</div> -->
 <div class="containter  main-div">
    <form [formGroup]="formLogin">
        <mat-form-field class="inputLogin">
           <mat-label>
               Correo Electronico
           </mat-label>
           <input type="email" matInput id="email"  aria-describedby="emailHelp" placeholder="Ingrese su correo electronico" formControlName="correo">
           <mat-error *ngIf="formLogin.controls['correo'].errors.email && formLogin.dirty "> El correo no es valido</mat-error>
           <mat-error *ngIf="formLogin.controls['correo'].errors.required && formLogin.dirty "> El correo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field class="inputLogin">
            <mat-label>
                Contraseña
            </mat-label>
            <input type="password" matInput id="pass"  aria-describedby="emailHelp" placeholder="Ingrese su contraseña" formControlName="contraseña">
            <mat-error *ngIf="formLogin.controls['contraseña'].errors.required && formLogin.dirty ">La contraseña es obligatoria</mat-error>
     
         </mat-form-field>
     <button mat-flat-button (click)="ingresar()">ingresar</button>
    </form>
</div> 
