mat-form-field {
   display: block;
   width: 327px;
 }
.main-div{
    /*height: 1000px;
    width: 1000px;
    */display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4D6A7;
   
  }