.barra{
   
    height: 1000px;
        width: 1000px;
        display: flex;
        justify-content: left;
     background-color: #e85f5c;

      
}

.menu{
    height: 1000px;
        width: 1000px;
        display: flex;
        justify-content: right;
  border-left: salmon;
  background-color: #E4D6A7;
  display: grid;
        /* single column layout */
        grid-template-columns: 1fr;
        /* have some gap in between elements*/
        grid-gap: 20px;
        padding: 10% 5%;
}

body {
    height: 100vh;
    display:flex;
}

#form_wrapper {
    width: 1000px;
    height: 700px;
    margin: auto;
    margin: auto;
    border-radius:50px;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 5vw;
    padding: 5vh 15px;
}

#form_left {
    display:flex;
    justify-content: center;
    align-items: center;
}

#form_right {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 10% 5%;
}

@media screen and(max-width: 768px) {
    #form_wrapper {
        grid-template-columns: 1fr;
        margin-left: 10px;
        margin-right: 10px;
    }
    #form_left {
        display:none;
    }
}