.barra-small{
   
   /* height: 1000px;
        width: 1000px;
        display: flex;
        justify-content: left;*/
     background-color: #DD6031;
    border-radius:0 0 10% 10%; 
      
}

.barra-normal{
   
    /* height: 1000px;
         width: 1000px;
         display: flex;
         justify-content: left;*/
      background-color: #DD6031;
     border-radius:0 10% 10% 0; 
       
 }
/*
.mat-grid-title{ 
   
}*/
.menu{
    /*height: 1000px;
    width: 1000px;
    display: flex;
    justify-content: space-between;*/
    border-left: salmon;
    /*background-color: #dcf3f8;*/
    /*margin: 0 auto;
    padding: 10px 0;
    align-items: flex-start; */
}

.title{
    color: white;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Marcellus SC', serif;
    text-align: center;
    /*margin:auto; 
    display:block;
    /*margin-top: 20%;
    margin-bottom: 20%;*/
    /*margin: auto;
    height:auto;
    text-align: center;*/
}


.bullet {
    color: #F4C8B9;
    /*font-size: 24px;*/
    width: 60%;
    /*display:block;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom:15px;
    /*height:austo;*/
}

.container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

