
<div class="main-div">

  <mat-card-content>
    <form [formGroup]="formUsuario">
     <button mat-flat-button color="primary" (click)="editCorreo=!editCorreo">Editar Correo</button>
           <mat-form-field class="full-width" *ngIf="editCorreo">
              <mat-label>Email</mat-label>
              <input  type="email" matInput placeholder="Email" name="email" formControlName="correo">
              <mat-error *ngIf="formUsuario.controls['correo'].invalid" > 
              
                 <span *ngIf="formUsuario.controls['correo'].errors.email">No es un correo Valido</span>
               </mat-error>
           </mat-form-field>
           <button mat-flat-button color="primary" (click)="editContra=!editContra" style="margin-left: 7px;">Editar Contraseña</button>
           <mat-form-field class="full-width" *ngIf="editContra">
         
              <mat-label>Contraseña</mat-label>
              <input type="password" matInput  placeholder="Password"  name="password"formControlName="contraseña">
              <mat-error *ngIf="formUsuario.controls['contraseña'].invalid" > 
                
                 <span *ngIf="formUsuario.controls['contraseña'].errors.minlength">La contraseña debe tener al menos 8 caracteres</span>
              
               </mat-error>
           </mat-form-field>
           <button mat-flat-button color="primary" (click)="editImg=!editImg" style="margin-left: 7px;">Cambiar Imagen</button>
           <input formControlName="img" (change)="addImg($event)" type="file" class="form-control-file" *ngIf="editImg">
           <button mat-flat-button  class="mt-5" style="margin-right: 5px;" (click)="editarUsuario()" color="warn" style="margin-left: 7px;">Editar</button>
          
    </form>
  </mat-card-content>
</div>
