mat-form-field {
    display: block;
    width: 327px;
  }
  .main-div{
    height: 100vh;
    display: flex;
    
 margin-top: 40px;
   
  }
mat-card-content{
  margin-left: 430px;
margin-top: 40px;

}

h1 {
  font-size: 30px;
  font-family: 'Reem Kufi', sans-serif;
  margin-left: 87px;
  margin-top: 7px;
 
}