mat-form-field {
    display: block;
    width: 327px;
  }
  .main-div{
    height: 100vh;
    display: flex;
    
 margin-top: 10px;
   
  }
mat-card-content{
margin-left: 15px;

}

mat-flat-button{
  margin-left: 7px;
}