form{
    display: block;
    width: 700px;
  }
  .main-div{
    height: 100vh;
    display: flex;
    
 margin-top: 40px;
   
  }
form{
  width: 400px;
  margin-left: 470px;
margin-top: 40px;

}

p {
  font-size: 24px;
  font-family: 'Reem Kufi', sans-serif;
}