<div class="main-div container">

        <h2 align="center">¿Como ha sido tu experiencia en el curso?</h2>
        <h3 align="center">[Aqui van las estrellas que me va a pasar el felix :)]</h3>
        <h3 align="center">Escoge un maximo de 3 adjetivos que ilustren de mejor forma la experiencia</h3>
          

        <button><a class = "button" style="text-decoration: none;"
            target=”_blank”>[Adjetivo]</a></button>
        <button><a class = "button" style="text-decoration: none;"style="margin-left: 20px"
            target=”_blank”>[Adjetivo2]</a></button>
        <button><a class = "button" style="text-decoration: none;"style="margin-left: 20px"
            target=”_blank”>[Adjetivo3]</a></button>
        <button><a class = "button" style="text-decoration: none;"style="margin-left: 20px"
            target=”_blank”>[Adjetivo4]</a></button>
        <button><a class = "button" style="text-decoration: none;"style="margin-left: 20px"
            target=”_blank”>[Adjetivo2]</a></button>


    
<div class="main-div container"></div>