main {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .button {
    background-color:#DD6031;
    color: #ffffff;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    border-radius: 10px;
    outline:none;
    border: 0;
  }
  /*button.change {
    outline: none;
    
  }*/

  button:hover {
    background-color:  #ffffff;
  }
  div.center{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  button:active{
    outline: none;
    border: none;
  }
  button :focus{
    outline-style: none; 
  }

