main {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .button {
    background-color:#DD6031;
    color: #ffffff;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    border-radius: 10px;
  }

  button:hover {
    background-color:  #ffffff;
  }
  div.center{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
  
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    
  }
  [data-tooltip]:before {            
    position : absolute;
     content : attr(data-tooltip);
     opacity : 0;
}
[data-tooltip]:hover:before {        
  opacity : 1;
}
