<div class="main-div">
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">
  
    <form style="margin-top:40px" *ngIf="editProfile" [formGroup]="formUsuario"
      class="text-center border border-light p-5" action="#!">
  
  
      <p class="h4 mb-4">EDITAR MIS DATOS</p>
  
      <input (click)="editCorreo=!editCorreo" type="email" id="defaultContactFormEmail" class="form-control mb-4"
        placeholder="E-mail" name="email" formControlName="correo"  *ngIf="tipoCorreo!='gmail.com'">
  
  
      <input (click)="editContra=!editContra" type="password" id="defaultContactFormName"   *ngIf="tipoCorreo!='gmail.com'"class="form-control mb-4"
        placeholder="Contraseña" name="password" formControlName="contraseña">
     
  
  
      <button color="primary" (click)="editImg=!editImg"
        style=" background-color: rgb(77, 65, 61); margin-bottom: 21px; width: 50px; height: 40px;"
        class="btn btn-info btn-block" type="submit"><i class="material-icons">camera_enhance</i></button>
      <input formControlName="img" (change)="addImg($event)" type="file" class="form-control-file" *ngIf="editImg">
  
  
  
  
      <div class="form-group">
        <textarea class="form-control rounded-0" formControlName="bio"  id="exampleFormControlTextarea2" rows="3"  *ngIf="usuario.tipoUsuario=='instructor'"
          placeholder="Biografia">
  
        </textarea>
      </div>
  
  
      <button class="mt-5" (click)="editUser()" class="btn btn-info btn-block" type="submit">GUARDAR CAMBIOS</button>
  
    </form>
  </div>
  