<h1 mat-dialog-title>Nuevo Usuario </h1>
<div mat-dialog-content color="accent">
 <form action="" [formGroup]="formUsuarioNuevo">
  <mat-form-field>
    <mat-label>¿Que tipo de usuario eres?</mat-label>
   <mat-select formControlName="tipoUsuario">
     <mat-option  value="instructor">Instructor</mat-option>
     <mat-option  value="alumno">Alumno</mat-option>
   </mat-select>
  </mat-form-field>

</form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="addUsuario()" color="accent" cdkFocusInitial>Aceptar</button>
</div>