<div class='container mt-5' *ngIf='this.cursosValorados.length>0'>
    <h1>Cursos mejor valorados.</h1>
    <div>


        <div class="row">
            <div class="col-sm-3" *ngFor="let curso of cursosValorados" style="padding-top: 3%;">
                <div class="card">
                    <img class="card-img-top imgMaestro" [src]="curso.user.img">
                    <mat-card class="card-body">
                        <mat-card-content>
                            <h5 class="card-title" style="font-size: 21px;">{{curso.user.nombre}} </h5>
                            <h5 class="card-title">{{curso.categoria.nombre}} </h5>
                            <!--h5 class="card-title">{{curso.nivel.nombre}}</h5-->
                            <h5 class="card-title">{{curso.tarifa | currency}} </h5>
                            <ngb-rating [(rate)]="curso.evaluaciones" [readonly]="true" [max]=5 style="font-size: 1rem">
                            </ngb-rating>

                        </mat-card-content>
                        <mat-card-actions>
                            <button class="btn btn-primary" [routerLink]="['/perfil', curso.user.uid ]">
                                Ver Perfil
                            </button>
                            <button *ngIf="usuario.tipoUsuario=='alumno'" class="btn btn-primary"
                                [routerLink]="['/agendar', curso.id ]">
                                Ver Curso
                            </button>

                        </mat-card-actions>

                    </mat-card>
                </div>
            </div>

        </div>
    </div>
</div>
<div class='container mt-5' *ngIf='this.cursosCertificados.length>0'>
    <h1>Cursos certificados.</h1>
    <div>


        <div class="row">
            <div class="col-sm-3" *ngFor="let curso of cursosCertificados" style="padding-top: 3%;">
                <div class="card">
                    <img class="card-img-top imgMaestro" [src]="curso.user.img">
                    <mat-card class="card-body">
                        <mat-card-content>
                            <h5 class="card-title" style="font-size: 21px;">{{curso.user.nombre}} </h5>
                            <h5 class="card-title">{{curso.categoria.nombre}} </h5>
                            <!--h5 class="card-title">{{curso.nivel.nombre}}</h5-->
                            <h5 class="card-title">{{curso.tarifa | currency}} </h5>
                            <ngb-rating [(rate)]="curso.evaluaciones" [readonly]="true" [max]=5 style="font-size: 1rem">
                            </ngb-rating>

                        </mat-card-content>
                        <mat-card-actions>
                            <button class="btn btn-primary" [routerLink]="['/perfil', curso.user.uid ]">
                                Ver Perfil
                            </button>
                            <button *ngIf="usuario.tipoUsuario=='alumno'" class="btn btn-primary"
                                [routerLink]="['/agendar', curso.id ]">
                                Ver Curso
                            </button>

                        </mat-card-actions>

                    </mat-card>
                </div>
            </div>

        </div>
    </div>
</div>
<div class='container mt-5' *ngIf='this.instructoresValorados.length>0'>
    <h1>Instructores mejor valorados.</h1>
    <div>


        <div class="row">
            <div class="col-sm-3" *ngFor="let instructor of instructoresValorados" style="padding-top: 3%;">
                <div class="card">
                    <img class="card-img-top imgMaestro" [src]="instructor.img">
                    <mat-card class="card-body">
                        <mat-card-content>
                            <h5 class="card-title" style="font-size: 21px;">{{instructor.nombre}} </h5>
                            <!--h5 class="card-title">{{curso.categoria.nombre}} </h5-->
                            <!--h5 class="card-title">{{curso.nivel.nombre}}</h5-->
                            <!--h5 class="card-title">{{curso.tarifa | currency}} </h5-->
                            <ngb-rating [(rate)]="instructor.evaluaciones" [readonly]="true" [max]=5 style="font-size: 1rem">
                            </ngb-rating>

                        </mat-card-content>
                        <mat-card-actions>
                            <button class="btn btn-primary" [routerLink]="['/perfil', instructor.uid ]">
                                Ver Perfil
                            </button>
                            <!--button *ngIf="usuario.tipoUsuario=='alumno'" class="btn btn-primary"
                                [routerLink]="['/agendar', curso.id ]">
                                Ver Curso
                            </button-->

                        </mat-card-actions>

                    </mat-card>
                </div>
            </div>

        </div>
    </div>
</div>
<div class='container mt-5' *ngIf='this.instructoresSolicitados.length>0'>
    <h1>Instructores mejor valorados.</h1>
    <div>


        <div class="row">
            <div class="col-sm-3" *ngFor="let instructor of instructoresSolicitados" style="padding-top: 3%;">
                <div class="card">
                    <img class="card-img-top imgMaestro" [src]="instructor.img">
                    <mat-card class="card-body">
                        <mat-card-content>
                            <h5 class="card-title" style="font-size: 21px;">{{instructor.nombre}} </h5>
                            <!--h5 class="card-title">{{curso.categoria.nombre}} </h5-->
                            <!--h5 class="card-title">{{curso.nivel.nombre}}</h5-->
                            <!--h5 class="card-title">{{curso.tarifa | currency}} </h5-->
                            <h5 class="card-title">{{ instructor.estudiantes }}</h5>
                            <ngb-rating [(rate)]="instructor.evaluaciones" [readonly]="true" [max]=5 style="font-size: 1rem">
                            </ngb-rating>

                        </mat-card-content>
                        <mat-card-actions>
                            <button class="btn btn-primary" [routerLink]="['/perfil', instructor.uid ]">
                                Ver Perfil
                            </button>
                            <!--button *ngIf="usuario.tipoUsuario=='alumno'" class="btn btn-primary"
                                [routerLink]="['/agendar', curso.id ]">
                                Ver Curso
                            </button-->

                        </mat-card-actions>

                    </mat-card>
                </div>
            </div>

        </div>
    </div>
</div>