<div (window:resize)="onResize($event)">
  <div class="main-div container">
    <button mat-flat-button color="warn" (click)="openDialog()">Enviar nueva certificación</button>

    <div class="lista mt-3">
      <table class="table dark">
        <thead>
          <tr>

            <th scope="col">Certificación</th>
            <th scope="col">Estatus</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of certificaciones">

            <td>{{item.descripcion}}</td>
            <td>
              <div *ngIf="item.status=='aprobado'"> <i class="material-icons">check</i></div>
              <div *ngIf="item.status=='denegado'"> <i class="material-icons">close</i></div>
              <div *ngIf="item.status=='pendiente'"> <i class="material-icons">more_horiz</i></div>
            </td>
            <td><button mat-flat-button color="primary"> <a style="text-decoration: none; color: white;"
              [href]="item.docref " target=”_blank”>Archivo</a></button>
              <span *ngIf="item.status!='pendiente'">
                <button mat-flat-button color="accent" style="margin-left: 5px;" (click)="openFeedb(item.feedback)"> Info</button>
              </span>
            </td>
          </tr>
          
          
        </tbody>
      </table>
    </div>
  </div>

</div>