<div class="main-div">
    <ul class="list-group list-group-flush align-items-center">
    <br>
    <button style="outline:none;"><a class="button" style="text-decoration: none;" 
        target=”_blank”>Enviar nueva certificación</a></button>
    <br>
    <button style="outline:none;"><a class="button" style="text-decoration: none;" 
        target=”_blank”>Certificaciones enviadas/pendientes</a></button>
    <br>
    <button style="outline:none;"><a class="button" style="text-decoration: none; "
        target=”_blank”>Certificación aceptada/negada</a></button>

    </ul>
</div>